
.config-form {
  width: 100%; /* Asegura que el formulario ocupe todo el ancho del contenedor */
  max-width: 100%; /* Elimina cualquier restricción de ancho máximo */
}

.config-content__posts {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.config-form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
  gap: 1.5rem; /* Espacio entre elementos */
  width: 100%;
}

.config-form-group {
  margin-bottom: 1.5rem;
}

.config-form-group.full-width {
  grid-column: span 2; /* Hace que el elemento ocupe ambas columnas */
}

.config-general-info__container-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.config-avatar-img,
.config-container-avatar__img {
  width: 10rem; /* Ajusta el tamaño del avatar */
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
}

input[type="file"] {
  margin-top: 0.5rem;
}

textarea,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
select {
  display: block;
  width: 100%;
  padding: 0.6rem 1.2rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

/* Personalización para campos específicos */
.config-bio {
  grid-column: span 2; /* Hace que el área de biografía ocupe ambas columnas */
  height: 10rem; /* Ajusta la altura si es necesario */
}

.config-custom-schedule {
  grid-column: span 2; /* Ocupa el ancho completo en caso de horario personalizado */
}

.config-form-group.inline-group {
  display: flex;
  gap: 1rem;
}

.config-form-group.inline-group > div {
  flex: 1;
}

.config-btn,
input[type="submit"].config-btn {
  background-color: var(--navbar-background-color);
  color: var( --white-color) !important;
  padding: 12px;
  margin-bottom: 5px;
  border-radius: 20px;
  border-radius: 15px; /* Borde redondeado */
  font-size: 15px; /* Tamaño de fuente ajustado */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.config-btn:hover {
  transform: scale(1.03);
  background-color: #0056b3;
}


/* Estilo adicional para ubicaciones preferidas */
.config-preferred-locations {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.config-preferred-locations input {
  width: calc(100% - 1rem);
  margin-top: 0.5rem;
}

.config-distance-range {
  margin-top: 1rem;
}
