/* Register.css */

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  padding: 20px;
  background-color: #f5f5f5;
}

.register-form {
  max-width: 400px;
  width: 100%;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.register-form h1 {
  font-size: 1.8em;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.form{
  width: 80%;
}

.form-group {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: left;
}

.form-group label {
  font-weight: bold;
  color: #555;
  margin-bottom: 5px;
  display: block;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 1em;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 1em;
  background-color: #ffffff; /* Fondo blanco */
  color: #333; /* Color del texto */
  box-shadow: none;
  outline: none;
}

.form-group input::placeholder,
.form-group select {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #333;
  color: #777; /* Ajusta el color del texto del placeholder si es necesario */
}

.form-group select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #ffffff; /* Fondo blanco */
  color: #333; /* Color del texto */
  cursor: pointer;
}

.form-buttons{
  margin: 7px;
  padding: 7px;
  display: flex;
}
.form-buttons button{
  margin: 8px;
  padding: 5px;
  font-size: 20px;
}


.btn-success:hover {
  background-color: #218838;
}

.alert {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 0.95em;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
}

.alert-error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}
