


/*ESTILOS GENERALES*/
:root {
    --color-general-text: #333;
    --color-backgroud-navbar: #131a5c;
    --color-text-navbar: white;
    --color-hover-navbar: #1756cc;

    --color-border-headers: #eee;

    --color-background-btn-success: #5cb85c;
    --color-border-btn-success: #4cae4c;
    --color-background-btn-success-hover: #449d44;
    --color-border-btn-success-hover: #398439;

    --color-background-btn-delete: #d9534f;
    --color-border-btn-delete: #d43f3a;
    --color-background-btn-delete-hover: #c9302c;
    --color-border-btn-delete-hover: #ac2925;

    --color-border-post: #ddd;
    --color-name-user: #337ab7;

    --color-text-black: #555;
    --color-text-nickname: #969393;
    --color-number-stats: green;

    --color-border-textarea: #ccc;
    --color-border-textarea-focus: #66afe9;
}

.layout__navbar {
    width: 100%;
    grid-area: nav;
    background-color: var(--color-backgroud-navbar);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    height: 5.3rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para el navbar */
}

.navbar__header {
    display: flex;
    align-items: center;
}

.navbar__icon {
    font-size: 2.5rem; /* Tamaño del ícono */
    margin-right: 0.5rem; /* Espacio entre el ícono y el texto */
    color: #ffffff;
}

.navbar__title {
    font-size: 2.2rem;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: transform 0.2s ease-in-out;
    display: flex;
    align-items: center;
    white-space: nowrap; /* Mantiene el título en una sola línea */
}

.navbar__title:hover {
    transform: scale(1.05);
    color: #ffdd57;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}
