.container-lists__list-end{
    display: flex;
    align-items: center;
}

.list-end__item:first-child{
    padding: 0.6rem;
}

.list-end__img{
    width: 4rem;
    height: 4rem;
    border-radius: 3.2rem;
}

.list-end__link{
    color: white;
    padding: 1.8rem;
}

.list-end__name{
    color: white;
    padding: 0.5rem;
}
