
/* Estilos para Empresa */
.company-layout {
    --navbar-background-color: #046246; /* Verde para empresas */
    --color-background: #e9f5e9;
    --color-border: #07ab7a;
  }
  
  /* Estilos para Profesional */
  .professional-layout {
    --navbar-background-color: #131a5c; /* Azul para profesionales */
    --color-background: #e9f0fa;
    --color-border: #2331a9;
}

.private-layout {
    display: grid;
    grid-template-areas: 
        "header header"
        "content aside";
    grid-template-columns: 77% 23%; /* Ancho del aside al 30% y el contenido al 70% */
    grid-template-rows: auto 1fr;
    min-height: 100vh;
    gap: 2rem;
    background-color: var(--color-background);
}

.private-layout__content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 6rem; /* Compensar la altura del header fijo */
    margin-left: 20px;
    padding-left: 30px;
    overflow: auto;  /* Para evitar que el contenido se desborde */
}

.layout__aside {
    grid-area: aside;
    padding: 1.5rem;
    border-right: 1px solid #ddd;
    background-color: var(--color-background);
    height: auto; /* Ajusta la altura del sidebar */
    margin-top: 6rem; /* Compensar la altura del header fijo */
    position: sticky;
    top: 0;
}


/* TAGSINPUT */
.tags-input-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
  }
  
  .tags-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  
  .tag {
    background-color: #007bff;
    color: white;
    padding: 0.3rem 0.6rem;
    border-radius: 3px;
    display: flex;
    align-items: center;
  }
  
  .tag-close-icon {
    margin-left: 0.5rem;
    cursor: pointer;
  }
  
  .tags-input-container input {
    border: none;
    outline: none;
    flex: 1;
    min-width: 150px;
  }
  
