.sectors-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  
  .sector-card {
    padding: 16px;
    text-align: center;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: var(--black-color);
    background-color: var(--white-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .sector-card:hover {
    color: var(--black-color);
    outline: 2px solid var(--navbar-background-color);
    outline-offset: -5px; /* Hace que el borde se meta dentro del botón */
    background-color: var(--white-color); /* Mantén el fondo sin cambios */
  }
  