

/*ESTILOS BARRA LATERAL*/
.aside__container{
    width: 100%;
}

.aside__profile-info{
    border: 1px solid var(--post-border-color);
    padding: 2.5rem;
    margin-bottom: 2rem;
    border-radius: 0.4rem;
}

.profile-info__general-info{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.general-info__container-names{
    margin-left: 20px;

}

.general-info__container-avatar{
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%; /* Usar 50% para asegurar un círculo perfecto */
    overflow: hidden; /* Asegurar que el contenido no desborde */
    display: flex;
    justify-content: center; /* Centrar el contenido */
    align-items: center; /* Centrar el contenido */
}

.avatar-img{
    width: 5rem; /* Puedes ajustar el tamaño */
    height: 5rem;
    border-radius: 50%; /* Hace la imagen circular */
    object-fit: cover; /* Asegura que la imagen se mantenga proporcionada */
    margin-right: 10px;
}

.container-names__name{
    color: var(--text-nickname-color);
    font-size: 1.6rem;
}

.container-names__nickname{
    color: var(--text-nickname-color);
    font-size: 1.6rem;
}

.profile-info__stats{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    border-top: 1px solid var(--headers-border-color);
}

.stats__following:first-child{
    padding-left: 0.6rem;
}

.stats__following{
    margin-top: 1rem;
    padding: 0 1.8rem;
    border-right: 2px solid var(--color-border-headers);
    text-align: center;
}

.following__title{
    display: block;
    font-weight: bold;
    color: var( --color-text-black);
}

.following__number{
    font-weight: bold;
    color: var(--number-stats-color);
}

.following__link:hover >  .following__number{
    color: var(--main-profess-color);
}

.aside__container-form{
    width: 100%;
    border: 1px solid var(--post-border-color);
    padding: 2.5rem;
    border-radius: 0.4rem;
}

.container-form__form-post{
    width: 100%;
}

.aside__container-form form{
    max-width: 100%;
}

.form-post__inputs{
    margin-bottom: 1rem;
}

.form-post__label, label{
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 700;
}

.form-post__textarea{
    display: block;
    width: 100%;
    height: auto;
    padding: 0.6rem 1.2rem;
    font-size: 14px;
    color: var( --color-text-black);
    border: 1px solid var(--color-border-textarea);
    border-radius: 4px;
    outline: none;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    transition: all ease-in-out 150ms;
}

.form-post__textarea:focus{
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
}

.form-post__image{
    width: 100%;
}

.form-post__btn-submit{
    background-color: var(--follow-btn-background-color);
    color: var( --white-color) !important;
    padding: 0.2rem 0.7rem;
    margin: 0.2rem;
    border: 1px solid var(--follow-btn-border-color);
    border-radius: 0.3rem;
    line-height: 1.5;
    cursor: pointer;
    font-size: 1.4rem;
}
